nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
}
h2{
    color: orange;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    color: orange;

}
li{
    margin-left: 20px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}